<!DOCTYPE html>

<html>
    <head>
        <!--adjusts for mobile & desktop view-->
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

        <!--js file and css-->
        <script type="text/javascript" src="scripts.js"></script>
        <script src="scripts.js"></script>
        <link href="./styles.css" rel="stylesheet" />
        <title>Dinability Profile</title>
        

    </head>

    <body>
        <div class="homepage screen">
            <div class="overlap-group3">
                <div class="ellipse-6"></div>
                <div class="ellipse-8"></div>
                <div class="ellipse-7"></div>
                <div class="ellipse-7-1"></div>
                <div class="ellipse-1"></div>
                <img class="fork" src="/com.dinability/assets/fork.svg" alt="fork"/>
                <img class="spoon" src="/com.dinability/assets/spoon.svg" />
                <div class="component-2">
                    <div class="nyush-container">
                        <!--edit for home page-->
                        <img class="nyush-dining-logo" src="/com.dinability/assets/NYUSHdiningLogo.svg" alt="nyush-dining-logo" />
                        <div class="title-login">DINENYUSH</div>
                    </div>
                </div>
                <div class="ellipse-7-2"></div>
                <!--make buttons-->
            </div>
        </div>
        
    </body>
</html>
