<!DOCTYPE html>

<html>
    <head>
        <!--adjusts for mobile & desktop view-->
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

        <!--js file and css-->
        <script type="text/javascript" src="scripts.js"></script>
        <title>Homepage</title>
        <script src="scripts.js"></script>
        <link href="./styles.css" rel="stylesheet" />
        <title>Dinability Profile</title>
        

    </head>
    <body>
        <div class = "homepage-group2">

            <div class="page-nyush-logo">
                <img src="/com.dinability/assets/NYUSHdiningLogo.svg" alt="NYUSHDiningLogo" />
            </div>

            <img class="fork" src="/com.dinability/assets/fork.svg" alt="fork"/>
            <div class="plate">
                <img src="/com.dinability/assets/plate.svg" alt="plate"/>
                <div class="home-button-group">
                    <button type="button" class="button-thirdly" onclick="location.href='./find.html'">Find Restaurant</button>
                    <button type="button" class="button-secondary" onclick="location.href='./rate.html'">Rate Restaurant</button>
                    <button type="button" class="button-primary" onclick="location.href='./groups.html'">Order Group</button>
                </div>
            </div> 

            <img class="spoon" src="/com.dinability/assets/spoon.svg" alt="spoon"/>     

        </div>
    </body>
</html>
