<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles.css" rel="stylesheet" />
    <script type="text/javascript" src="scripts.js"></script>
    <title>Dinability Login</title>
</head>

<body>
    <!-- <div class="register-screen"> -->
    <div class="login-group2">
        <div class="login-group1">
            <img class="nyush-dining-logo" src="/com.dinability/assets/NYUSHdiningLogo.svg" alt="NYUSHDiningLogo" />
            <h1 class="title-login">DINENYUSH</h1>
        </div>
        <div class="login-group">
            <form method="GET" class="form-container" action="/login">
                <div class="input-box">
                    <input type="text" id="name" name="username" placeholder="Your name...">
                </div>
                <!--<div class="input-box">
                    <input type="text" id="email" name="email" placeholder="Your email...">
                </div>-->
                <div class="input-box">
                    <input type="text" id="psw" name="password" placeholder="Your password...">
                </div>
                <div class="button-submit">
                    <input type="submit" value="Login">
                </div>
                
                <button type="button" class="btn-cancel" onclick="location.href='./register.html'"> Register</button>

            </form>
        </div>


    </div>
    <!-- </div> -->
</body>

</html>