<!DOCTYPE html>
<html>
    <head>
        <!--navigation-->
        <div class="topnav">
            <a href="./index.html">Home</a>
            <a href="./restaurants.html">Restaurants</a>
            <a href="./groups.html">Groups</a>
            <a href="./about.html">About</a>
            <a class="active" href="#profile">Profile</a>
            <link rel="stylesheet" type="text/css" href="styles.css">
        </div>
    </head>
    <body>
        <!--login-->
        <div class="container">
            <!--username-->
            <label for="user"><b>Username</b></label>
            <input type="text" name="user" placeholder="email" required>
            <br>
            <!--password-->
            <label for="pass"><b>Password</b></label>
            <input type="password" name="pass" placeholder="password" required>
            <!--login button-->
            <button type="submit">Login</button>
        </div>

    </body>
</html>
