<!--CARROT-->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./styles.css" rel="stylesheet" />
        <title>Dinability Login</title>
    </head>
        <body>
            <!-- <div class="register-screen"> -->
                <div class = "login-group2">
                    <div class="login-group1">
                        <img class="nyush-dining-logo" src="/com.dinability/assets/NYUSHdiningLogo.svg" alt="NYUSHDiningLogo" />
                        <h1 class="title-login">DINENYUSH</h1>
                    </div>
                    <div class="login-group">
                        <form method="GET" class="form-container" action="">
                            <div class="input-box">
                                <input type="text" id="name" name="username" placeholder="Your name...">
                            </div>
                            <div class="input-box">
                                <input type="text" id="psw" name="password" placeholder="Your password...">
                            </div>
                            <div class="button-submit">
                            <input type="submit" value="Register">
                            </div>
                        </form>
                    </div>

                        <div class="login-group">
                            <p class="suggest-text">Already have an account?</p>
                                <button type="button" class="btn-cancel" onclick="location.href='./loginPage.html'"> Login</button>
                          
                            
                        </div>
<!--ASHLEY-->
<!DOCTYPE html>
<html>
    <head>
        <!--navigation-->
        <div class="topnav">
            <a href="./index.html">Home</a>
            <a href="./restaurants.html">Restaurants</a>
            <a href="./groups.html">Groups</a>
            <a href="./about.html">About</a>
            <a class="active" href="#profile">Profile</a>
            <link rel="stylesheet" href="styles.css">
            <!--USE LATER, PUT IN STATIC FOLDER <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"-->
        </div>
    </head>
    <body>
        <!--login-->
        <div class="container">
            <!--form for login-->
            <form>
                <!--cool uname box-->
                <div>
                    <link href="./input-box.css" rel="stylesheet" />
                    <div>
                        <label for="username"><b>Username</b></label>
                        <input type="text" name="username" placeholder="name" class="input input-box-textinput" required/>
                    </div>
                    <div>
                        <label for="email"><b>Email</b></label>
                        <input type="text" name="email" placeholder="email" class="input input-box-textinput" required/>
                    </div>
                    <div>
                        <label for="password"><b>Password</b></label>
                        <input type="text" name="password" placeholder="password" class="input input-box-textinput" required/>
                    </div>
                </div>
                
                <!--login button-->
                <button type="submit">Login</button>
            </form>
        </div>

    </body>

    <script src="scripts.js"></script>
</html>
             


                </div>
            <!-- </div> -->
        </body>
</html>