<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles.css" rel="stylesheet" />
    <title>Find Restaurant</title>
</head>

<body>
    <div class = "find-restaurant-group">
        
        <div class="small-plate">
            <img src="/com.dinability/assets/small-plate.svg" alt="small-plate"/>
            <h1 class="find-title">Dine</h1>
        </div> 
        
        <div class="bottom-tabs">
            <a href="./find.html" class="bottom_tab"><img src="/com.dinability/assets/bottom_tab.svg" alt="find_bottom_tab"></a>
            <a href="./rate.html" class="bottom_tab"><img src="/com.dinability/assets/rate_bottom_tab.svg" alt="rate_bottom_tab"></a>
            <a href="./groups.html" class="bottom_tab"><img src="/com.dinability/assets/group_bottom_tab.svg" alt="group_bottom_tab"></a>
        </div>
      
        <div>
            <img class="nyush-logo-restaurant" src="/com.dinability/assets/NYUSHdiningLogo.svg" alt="NYUSHDiningLogo" />
            <img class="fork-page" src="/com.dinability/assets/fork_rotate.svg" alt="fork_page"/>          
            <img class="spoon-page" src="/com.dinability/assets/spoon_rotate.svg" alt="spoon_page"/>     
        </div>
        
        <div class="find-card">
            <a href=".find.html" class="bottom_tab_find"><img src="/com.dinability/assets/card_find_restaurant.svg" alt="find_bottom_tab"></a>
        </div>
        <div >   
            <img class="nyush-logo-restaurant" src="/com.dinability/assets/NYUSHdiningLogo.svg" alt="NYUSHDiningLogo" />
        </div>
        
        
    </div>
    
</body>
