/* TOP NAVIGATION */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    opacity: 0.8;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #680db3;
    color: white;
}

/* USERNAME PASSWORD BOX */
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* 50% width inputs */
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

/* Set a style for all buttons */
button {
    background-color: #680db3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Change styles for span button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    
}

/* Uname and pass text input */
@media(max-width: 991px) {
    .input-box-textinput {
      color: #a78ebb;
      width: 266px;
      height: 50px;
      border-color: #ae93ce;
      border-style: solid;
      border-width: 10px;
      border-radius: 15px;
      background-color: rgba(184, 161, 198, 0.08);
    }
}