<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles.css" rel="stylesheet" />
    <script type="text/javascript" src="scripts.js"></script>
    <title>About Us</title>
</head>
<body>
    <!-- <div class="register-screen"> -->
        <div class = "login-group2">
            <div class="login-group1">
                <img class="nyush-dining-logo" src="/com.dinability/assets/NYUSHdiningLogo.svg" alt="NYUSHDiningLogo" />
                <h1 class="title-login">About Us</h1>
            </div>
            <div class="login-group">
                <p>Hi! We're college students at NYU Shanghai. This is our project for our Software Engineering class.</p>
            </div>
            <div class="login-group">
                    <button type="button" class="btn-cancel" onclick="location.href='./index.html'"> Home</button>
            </div>           
        </div>
    <!-- </div> -->
</body>


