<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styles.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <title>Find Restaurant!</title>
    <button type="button" class="button-logout" onclick="location.href='/logout'">Logout</button>
</head>

<body>

    <div class = "find-restaurant-group">
        
        <div class="small-plate">
            <img src="/static/img/small-plate.svg" alt="small-plate"/>
            <h1 class="find-title">Dine</h1>
        </div> 
        
        <div class="bottom-tabs">
            <a href="./find" class="bottom_tab"><img src="/static/img/bottom_tab.svg" alt="find_bottom_tab"></a>
            <a href="./groups" class="bottom_tab"><img src="/static/img/group_bottom_tab.svg" alt="group_bottom_tab"></a>
            <a href="./profile" class="bottom_tab"><img src="/static/img/rate_bottom_tab.svg" alt="profile_bottom_tab"></a>
        </div>
      
        <div>
            <img class="nyush-logo-restaurant" src="/static/img/NYUSHdiningLogo.svg" alt="NYUSHDiningLogo" />
            <img class="fork-page" src="/static/img/fork_rotate.svg" alt="fork_page"/>          
            <img class="spoon-page" src="/static/img/spoon_rotate.svg" alt="spoon_page"/>
        </div>
        

        <!--recommendation: user id, method, returns json file. indexed-->

        <div class="find-card">
            
            
            <!--find card should have information of a restaurant on it-->
            <script>
                
                const myRequest = new Request('/recommendation', {method: 'GET', body: '{"username": "{{username}}", "method": "Ranking", "param": "rating"}',})
                fetch(myRequest)
                    .then((response) => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            throw new Error("Something went wrong on API server!");
                        }
                    })
                    .catch((error) => {
                        console.error(error);
                    });
                document.addEventListener('DOMContentLoaded', function() {

                    for (let i=0; i<5; i++){
                        var button = document.createElement('img');
                        button.setAttribute("src", "/static/img/card_find_restaurant.svg");
                        //button.type = 'button';
                        //button.innerHTML = 'Press me';
                        //button.className = 'btn-styled';
                        var text = document.createElement("p");
                        text.className = "find-restaurant-name";
                        text.innerHTML = myRequest[i]['name'] + String(i)
                        var image = document.createElement("img");
                        image.setAttribute("src", "/static/img/NYUSHdiningLogo.svg");
                        image.className = "find-card-placeholder";
                        var container = document.getElementById('container');
                        container.appendChild(button);
                        container.appendChild(text);
                        container.appendChild(image);
                    }

                    
                }, false);
            </script>
            <div id="container"></div>

        </div>
       
        <div>   
            <img class="nyush-logo-restaurant" src="/static/img/NYUSHdiningLogo_find.svg" alt="NYUSHDiningLogo" />
        </div>
        
        
    </div>
    
</body>
