<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles.css" rel="stylesheet" />
    <title>Find Restaurant!</title>
</head>

<body>
    <div class = "find-restaurant-group">
        
        <div class="small-plate">
            <img src="/static/img/small-plate.svg" alt="small-plate"/>
            <h1 class="find-title">Dine</h1>
        </div> 
        
        <div class="bottom-tabs">
            <a href="./find.html" class="bottom_tab"><img src="/static/img/bottom_tab.svg" alt="find_bottom_tab"></a>
            <a href="./groups.html" class="bottom_tab"><img src="/static/img/group_bottom_tab.svg" alt="group_bottom_tab"></a>
        </div>
      
        <div>
            <img class="nyush-logo-restaurant" src="/static/img/NYUSHdiningLogo.svg" alt="NYUSHDiningLogo" />
            <img class="fork-page" src="/static/img/fork_rotate.svg" alt="fork_page"/>          
            <img class="spoon-page" src="/static/img/spoon_rotate.svg" alt="spoon_page"/>
        </div>
        <form class="find-restaurant">
            <div class="find-card">
                
                
                <!--find card should have information of a restaurant on it-->
                <a href="./find.html" class="bottom_tab_find"><img src="/static/img/card_find_restaurant.svg" alt="find_bottom_tab"></a>
                <!--should redirect to individual restaurant page-->
                <img class="find-card-placeholder" src="/static/img/NYUSHdiningLogo.svg" alt="card-placeholder" />
            </div>
        </form>
        <div >   
            <img class="nyush-logo-restaurant" src="/static/img/NYUSHdiningLogo_find.svg" alt="NYUSHDiningLogo" />
        </div>
        
        
    </div>
    
</body>
