<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styles.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <title>Find Restaurant!</title>
    
</head>

<body>
    <button type="button" class="button-logout" onclick="location.href='/logout'">Logout</button>

    <div class = "find-restaurant-group">
        
        <div class="small-plate">
            <img src="/static/img/small-plate.svg" alt="small-plate"/>
            <h1 class="find-title">Dine</h1>
        </div> 
        
        <div class="bottom-tabs">
            <a href="./find" class="bottom_tab"><img src="/static/img/bottom_tab.svg" alt="find_bottom_tab"></a>
            <a href="./groups" class="bottom_tab"><img src="/static/img/group_bottom_tab.svg" alt="group_bottom_tab"></a>
            <a href="./profile" class="bottom_tab"><img src="/static/img/rate_bottom_tab.svg" alt="profile_bottom_tab"></a>
        </div>
      
        <div>
            <img class="nyush-logo-restaurant" src="/static/img/NYUSHdiningLogo.svg" alt="NYUSHDiningLogo" />
            <img class="fork-page" src="/static/img/fork_rotate.svg" alt="fork_page"/>          
            <img class="spoon-page" src="/static/img/spoon_rotate.svg" alt="spoon_page"/>
        </div>
        

        <!--recommendation: user id, method, returns json file. indexed-->
        <div class="find-card">
            
            <script>
                const myRequest = new Request('/recommendation', {
                headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify({"username": "test1", "method": "Ranking", "param": "rating"})
                })

                fetch(myRequest)
                    .then(response => response.json())
                    .then(data => {
                        createButtons(data);
                    });
                
                
                function createButtons(data) {
                    /* data should look something like this: 
                    {"0":
                        {"user_id":1,
                        "restaurant_name":"first",
                        "time":1683289909000,
                        "rating_aspect_1":null,
                        "rating_aspect_2":null,
                         ...
                        }
                    }
                    
                    should look something like this?
                    {"products": [
                        { "Name": "Cheese", "Price": 2.5, "Location": "Refrigerated foods" },
                        { "Name": "Crisps", "Price": 3, "Location": "the Snack isle" },
                        { "Name": "Pizza", "Price": 4, "Location": "Refrigerated foods" },
                        { "Name": "Chocolate", "Price": 1.5, "Location": "the Snack isle" },
                        { "Name": "Self-raising flour", "Price": 1.5, "Location": "Home baking" },
                        { "Name": "Ground almonds", "Price": 3, "Location": "Home baking" }]
                    }*/
                    // change json format
                    // https://github.com/mdn/dom-examples/blob/main/fetch/fetch-json
                    var test = document.createElement("p");
                    test.innerHTML = data;
                    var container = document.getElementById('container');
                    container.append(test);
                    for (let i=0; i<5; i++) {
                        var button = document.createElement('img');
                        button.setAttribute("src", "/static/img/card_find_restaurant.svg");
                        //button.type = 'button';
                        //button.innerHTML = 'Press me';
                        //button.className = 'btn-styled';
                        var text = document.createElement("p");
                        text.className = "find-restaurant-name";
                        //text.innerHTML = data[String(i)]["restaurant-name"];
                        text.innerHTML = data;
                        //text.innerHTML = data.key.restaurant_name;
                        var image = document.createElement("img");
                        image.setAttribute("src", "/static/img/NYUSHdiningLogo.svg");
                        image.className = "find-card-placeholder";
                        var container = document.getElementById('container');
                        container.appendChild(button);
                        container.appendChild(text);
                        container.appendChild(image);
                    }
                    //}, false);
                }
                
            </script>
            <div id="container"></div>

        </div>
       
        <div>   
            <img class="nyush-logo-restaurant" src="/static/img/NYUSHdiningLogo_find.svg" alt="NYUSHDiningLogo" />
        </div>
        
        
    </div>
    
</body>
