<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styles.css" rel="stylesheet" />
    <title>Order Group</title>
</head>

<body>
    <div class = "find-restaurant-group">
        
        <div class="small-plate">
            <img src="/static/img/small_plate_group.svg" alt="small_plate_group"/>
            <h1 class="find-title">Group!</h1>
        </div> 
        
        <div class="bottom-tabs">
            <a href="./find.html" class="bottom_tab"><img src="/static/img/bottom_tab.svg" alt="find_bottom_tab"></a>
            <a href="./rate.html" class="bottom_tab"><img src="/static/img/rate_bottom_tab.svg" alt="rate_bottom_tab"></a>
            <a href="./groups.html" class="bottom_tab"><img src="/static/img/group_bottom_tab.svg" alt="group_bottom_tab"></a>
        </div>
      
        <div>
            <img class="nyush-logo-restaurant" src="/static/img/NYUSHdiningLogo.svg" alt="NYUSHDiningLogo" />
            <img class="fork-page" src="/static/img/fork_group.svg" alt="fork_page"/>          
            <img class="spoon-page" src="/static/img/spoon_group.svg" alt="spoon_page"/>     
        </div>
        
        <div class="group-cards">
            <div class="group-card">
                <a href="./group-register.html" ><img src="/static/img/card_setup_group.svg" alt="find_bottom_tab"></a>
                <h2 class="group-card-text">Form a Group</h2>
            </div>
            <div class="group-card">
                <a href="./find.html"><img src="/static/img/card_setup_group.svg" alt="find_bottom_tab"></a>
                <h2 class="group-card-text">Join a Group</h2>
            </div>
            </div>
        <div>   
            <img class="nyush-logo-restaurant" src="/static/img/NYUSHdiningLogo_group.svg" alt="NYUSHDiningLogo" />
        </div>
        
        
    </div>
    
</body>
