<!DOCTYPE html>

<html>
    <head>
        <!--adjusts for mobile & desktop view-->
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link href="/static/css/styles.css" rel="stylesheet" />
        <title>Homepage</title>
    </head>
    <body>
        <div class = "homepage-group2">

            <div class="page-nyush-logo">
                <img src="/static/img/dine-nyush-logo.png" alt="NYUSHDiningLogo" />
            </div>

            <img class="fork" src="/static/img/fork.svg" alt="fork"/>
            <div class="plate">
                <img src="/static/img/plate.svg" alt="plate"/>
                <div class="home-button-group">
                    <button type="button" class="button-thirdly" onclick="location.href='./find.html'">Find Restaurant</button>
                    <button type="button" class="button-secondary" onclick="location.href='./rate.html'">Rate Restaurant</button>
                    <button type="button" class="button-primary" onclick="location.href='./groups'">Order Group</button>
                    <button type="button" class="button-primary" onclick="location.href='./profile'">Profile </button>
                </div>
            </div> 

            <img class="spoon" src="/static/img/spoon.svg" alt="spoon"/>     

        </div>
        </div>
    </body>
</html>
