<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styles.css" rel="stylesheet" />
    <title>{{restaurant.restaurant_name}}</title>
</head>

<body>
    <div class="container">   
        <h1>{{restaurant.restaurant_name}}</h1>
    </div>
    
    <!--display stuff-->
    <img src={{restaurant.picture_uri}} />
    <p>{{restaurant.description}}</p>
    <input id="upload" type="file" onChange="handleImageUpload()" />
    <img id="display-image" src="" />

    <script>
        function handleImageUpload() {
            var image = document.getElementById("upload").files[0];
            var reader = new FileReader();
            reader.onload = function(e) {
                var dataUri = e.target.result,
                img = document.getElementById("display-image");
                img.src = dataUri;
                //send uri to backend
                fetch('/restaurant', method="POST", body='{"uri": dataUri}',)
                .then(response=>response.text())
            }
            reader.readAsDataURL(image);
            
        }
        //https://stackoverflow.com/questions/13373834/upload-image-using-javascript
    </script>

    <!--chat-->
    <script>

    </script>
            
</body>
