/* TOP NAVIGATION */
/* Add a black background color to the top navigation */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: linear-gradient(90deg, rgb(216, 215, 241) 0%, rgb(184, 161, 198) 100%);
    margin: 0px;
    align-items: center;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
}

img {
    z-index: -1;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    opacity: 0.8;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #680db3;
    color: white;
}

/* USERNAME PASSWORD BOX */
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* 50% width inputs */
input[type=text],
input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

chat-box-input {
    position: fixed;

}

/* Set a style for all buttons */
button {
    background-color: #7F628F;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 50%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}



/* Add padding to containers */
.container {
    padding: 16px;
}

/* Change styles for span button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

}

/* Uname and pass text input */
@media(max-width: 991px) {
    .input-box-textinput {
        color: #a78ebb;
        width: 266px;
        height: 50px;
        border-color: #ae93ce;
        border-style: solid;
        border-width: 10px;
        border-radius: 15px;
        background-color: rgba(184, 161, 198, 0.08);
    }
}




/* login page */
.register-screen {
    /* align-items: flex-start; */

    display: flex;
    height: 100%;
    padding: 50%;
    width: 100%;
}

.nyush-dining-logo {
    align-items: center;
    /* position: relative; */
    /* display:flex; */
    margin-left: 56px;
    min-width: 30%;
    max-width: 50%;
}

.title-login {
    color: #352d39;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    left: 0;
    letter-spacing: 1.3px;
    line-height: 30px;
    /* position: absolute; */
    text-align: center;
}

.login-group {
    align-items: flex-start;
    display: flex;
    height: 60%;
    justify-content: flex-end;
    min-width: 200px;
    padding: 8.7px 22.2px;
}

.login-group1 {
    padding: 5px;
    position: relative;
    /* height: 258px;
    width: 297px; */
}

.login-group2 {
    align-items: center;
    background-color: #f2f1fd80;
    border-radius: 20px;
    box-shadow: inset 0px 0px 5px 6px #ffffff40;
    display: flex;
    flex-direction: column;
    margin: 60px;
    /* min-height: 380px; */
    padding: 60px;
    min-width: 328px;

}


.input-box {
    align-items: center;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: inset 0px 1px 8px 1px #bcbbdf;
    display: flex;
    height: 29px;
    margin-top: 16px;
    min-width: 266px;
    padding: 11px 17px;
}


.btn-primary {
    height: 60px;
    margin-top: 26px;
    min-width: 200px;
    padding: 4.8px 0;
}

.btn-cancel {
    height: 39px;
    justify-content: flex-end;
    min-width: 89px;
    color: #352d39;
    padding: 6.3px 9.9px;
    background-color: transparent;
    text-align: center;
    border: 3px solid #352d39;
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;
}


.btn-text {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 31px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 155px;
}

.button-submit {
    padding: 20px 0px;
}

.flex-row {
    align-items: flex-start;
    display: flex;
    gap: 7px;
    margin-right: 1px;
    margin-top: 37px;
    min-width: 201px;
}

input[type=text],
select,
textarea {
    width: 100%;
    background-color: transparent;
    outline: 0px none transparent;
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    border: none;
    box-shadow: inset 0px 0px 5px 6px #ffffff40;
    border-radius: 20px;
    resize: vertical;
}

input[type=submit] {
    background-color: #7F628F;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 110px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin: 0px 3.5%;
    align-items: center;
}

input[type=submit]:hover {
    background-color: #B8A1C6;
}

.form-container {
    outline: none;
    border: none;
}

.suggest-text {
    font-family: 'Montserrat', sans-serif;
    color: #352d39;
    font-size: 13px;
}


/* homepage */
.button-secondary {
    padding: 15px;
    width: 180px;
    background-color: #BCBBDF;
    color: #564162;
}

.button-thirdly {
    padding: 15px;
    width: 180px;
    background-color: #8691C9;
}

.button-primary {
    padding: 15px;
    width: 180px;
}


.homepage-group {
    align-items: flex-start;
    display: flex;
    height: 60%;
    justify-content: flex-end;
    min-width: 200px;
    padding: 8.7px 22.2px;
}

.homepage-group1 {
    padding: 5px;

    position: relative;
    /* height: 258px;
    width: 297px; */
}

.homepage-group2 {
    align-items: right;
    display: flex;
    flex-direction: column;
    /* min-height: 380px; */
    padding: 100px;
    width: 100%;
    height: 100%;
}

.plate {
    position: absolute;
    top: 26%;
    right: 50%;
    min-width: 39%;
    max-width: 80%;
}

.fork {
    position: absolute;
    left: -220px;
    top: -100px;
    min-width: 450px;
    max-width: 600px;
    z-index: -1;

}

.spoon {
    position: absolute;
    bottom: -130px;
    left: 20%;
    min-width: 450px;
    max-width: 600px;
    z-index: -1;
}

.home-button-group {

    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.page-nyush-logo {
    position: absolute;

    margin-left: 25%;
    top: 50px;
    min-width: 200px;
    max-width: 500px;
}


/* find restaurant */
.find-restaurant-group {
    /*background-color:#D3D2E2;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
}

.find-restaurant-group2 {
    padding: 10px;
    left: 50%;
    bottom: 5%;
}

.fork-page {
    position: absolute;
    left: -100px;
    top: 30%;
    min-width: 300px;
    max-width: 500px;
}

.spoon-page {
    position: absolute;
    bottom: 15%;
    right: -100px;
    min-width: 300px;

}

.nyush-logo-restaurant {
    position: absolute;
    fill: #5D69A7 !important;
    right: 25px;
    top: 20px;
    min-width: 50px;
    max-width: 135px;
}

.small-plate {
    position: absolute;
    left: -100px;
    top: -100px;
    min-width: 10%;
    max-width: 30%;

}

.find-title {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 2500;
    font-size: 40px;
    left: 130px;
    top: 130px;
}


.bottom-tabs {
    position: fixed;
    bottom: -10px;
    left: -13px;
    width: 600px;
    z-index: 100;

}

.find-card {
    position: absolute;
    right: 0%;
    top: 25%;
}

.find-restaurant-name {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: -150px;
    left: 200px;
    z-index: 20;
}

/*.find-card-placeholder{
    position: absolute;
    fill: #5D69A7 !important;
    left: 40px;
    top: 35px;
    min-width: 50px;
    max-width: 120px;
    z-index: 120;
}*/
.find-card-placeholder {
    position: relative;
    fill: #5D69A7 !important;
    top: -220px;
    left: 50px;
    min-width: 50px;
    max-width: 120px;
    z-index: 90;
}

.find-block {
    position: relative;
    /*float:right;*/
    z-index: 10;
}

.group-card {
    position: relative;
    margin: 10% 0;
    left: 5%;

}

.group-cards {
    position: relative;
    top: 23%;
}

.group-card-text {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 2500;
    font-size: 40px;
    left: 80px;
    top: 40px;
}

/* PROFILE */
.button-logout {
    float: right;
    width: 100px;
    border-radius: 0;
}

.bottom-tab-find {
    position: relative;
    float: right;
    padding: 30px;
}

/* DROPDOWN */
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
    outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* RESTAURANT BUTTONS */
#review_box {
    height:200px;
    width: 15%;
    display:flex;
}
#messages {
    height:300px;
    width:75%;
    overflow:auto;    
}
#scroller * {
    overflow-anchor: none;
}
#anchor {
    overflow-anchor: auto;
    height: 1px;
}
#text-center {
    text-align: center !important;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*d-flex justify-content-center mb-3*/
.msg-box {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-bottom: 1rem !important;
}

/*w-75 border border-dark rounded-lg p-2*/
.msg-box2 {
    width: 75% !important;
    border: 1px solid #343a40 !important;
    border-radius: 0.25rem !important;
    padding: 0.5rem !important;
    background: #b54eff86;
}
.msg-box3 {
    font-size: 12px;
}

.msg-box2-primary {
    border-color: #007bff !important;
    background: #5c86e9af;
}

.msg-box2-danger {
    border-color: #dc3545 !important;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
}